MYSQL_HOST=你的MySQL服务器IP
MYSQL_PORT=3306
MYSQL_DATABASE=stock_review
MYSQL_USERNAME=stock_user
MYSQL_PASSWORD=你的数据库密码

JWT_SECRET=your_jwt_secret_key_must_be_at_least_256_bits_long_for_hmac_sha256
JWT_EXPIRATION=86400000
